#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.colored-box {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}

.color-name {
  width: 90px;
  height: 30px;
  font-size: 14px;
  padding: 0;
  color: #fff;
  background: grey;
}

.answer {
  margin-top: 15px;
  font-size: 24px;
}

.answer-correct {
  color: green;
}

.answer-wrong {
  color: red;
}
